header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-bottom: 50px;
    border: solid 5px black;
}

.logo {
    text-align: center;
}

.logo img {
    max-height: 100%;
}
#input {
margin-bottom: 20px;
width: 40%;
}
#sidebar {
    float: left;
    width: 25%;
    border: solid 5px black;
}

.wiki-results, .youtube-results  {
    float: left;
    display: flex;
    flex-flow: column;
    width: 40%;
    border: solid 5px black;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}
@media (max-width: 600px) {
    header {
        height: 150px; /* Adjust the height as needed */
    }

    .logo img {
        max-height: 80px; /* Adjust the logo size for mobile */
    }

    #input {
        width: 100%;
    }

    #sidebar {
        width: 30%;
    }

    .wiki-results,
    .youtube-results {
        margin: 10px 0;
    }
}